* {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  background-image: url("../img/bg-1280x800.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 75%;
  color: white;
  min-width: 320px;
  min-height: 475px;
  display: grid;
  grid-template-rows: 35px auto 40px;
  grid-gap: 40px;
}

.hidden {
  display: none
}

.fancy-box {
  background-color: rgba(62, 194, 238, .2);
  border: 2px solid rgba(192, 192, 192, .2);
  --fancy-border-width: 2px;
  border-radius: 25px;
  backdrop-filter: blur(5px);
}

.navigator {
  width: calc(100% - 6px - 8px - 4px);
  padding: 3px;
  margin: 2px 4px 2px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

#sky-gametime-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  #sky-gametime-prefix {
    display: none;
  }

  .fancy-box {
    width: calc(100% - 2px);
    height: calc();
    border: 1px solid rgba(192, 192, 192, .2);
    --fancy-border-width: 1px;
    border-radius: 15px;
  }

  .navigator {
    width: calc(100% - 6px - 8px - 2px);
    padding: 3px;
    margin: 2px 4px 2px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-height: 800px) {
  
}

.shard-container {
  width: 100%;
  height: 100%;
  margin: 0;
}

.shard-slide {
  margin: 0;
  padding: 0;
}

.shard-tag {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.shard-tag-empty {
  display: flex;
  justify-content: space-around;
}

.shard-location {
  margin: 15px 0 0 0;
}

.shard-location-prefix {
  display: inline-block;
  text-align: center;
  font-size: 1.2em;
  width: 100%;
  margin: 0;
}

.shard-location-alias {
  display: inline-block;
  text-align: center;
  font-size: 0.5em;
  width: 100%;
  height: 16px;
  margin: 0;
  position: relative;
  top: 2px;
}

.shard-location-disp {
  display: inline-block;
  text-align: center;
  font-size: 2em;
  width: 100%;
  margin: 0;
  font-weight: bold;
  position: relative;
  top: -4px;
}

.shard-gain {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0;
  position: relative;
  top: -4px;
  font-size: 0.8em;
  height: 18px;
}

.shard-split {
  display: inline-block;
  width: 100%;
  border-width: 0 0 1px 0;
  border-color: rgba(192, 192, 192, .5);
  border-style: solid;
}

.shard-time {
  display: inline-block;
}

.shard-time-disp {
  display: inline-block;
  margin: 0;
  overflow-x: visible;
  width: 500px;
}

.shard-countdown {
  margin-top: auto;
  width: 100%;
  height: 100px;
}

.footer {
  text-align: center;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  backdrop-filter: blur(5px);
  background-color: rgba(95, 120, 128, .2);
  border-width: 2px 0 0 0;
  border-color: rgba(192, 192, 192, .2);
  border-style: solid;
  padding: 8px;
}

#sky-gametime-disp {
  text-align: center;
  font-size: 1.2em;
  padding: 2px 0 2px 0;
}