* {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("../img/bg-1280x800.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 75%;
  color: white;
  min-width: 320px;
  min-height: 475px;
  display: grid;
  grid-template-rows: 35px auto max(40px, 5%);
  grid-gap: max(40px, 5%);
}

.hidden {
  display: none
}

.font-dynamic {
  font-size: max(calc(0.7rem + 1vw), 1rem);
}

.fancy-box {
  background-color: rgba(62, 194, 238, .2);
  border: 2px solid rgba(192, 192, 192, .2);
  --fancy-border-width: 2px;
  border-radius: 25px;
  backdrop-filter: blur(5px);
}

.navigator {
  width: 100%;
  padding: 3px;
  margin: 2px 4px 2px 4px;
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-gap: auto;
  height: 35px;
}

#sky-gametime-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  #sky-gametime-prefix {
    display: none;
  }

  .fancy-box {
    width: calc(100% - 2px);
    height: calc();
    border: 1px solid rgba(192, 192, 192, .2);
    --fancy-border-width: 1px;
    border-radius: 15px;
  }

  .navigator {
    width: calc(100% - 6px - 8px - 2px);
    padding: 3px;
    margin: 2px 4px 2px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .font-dynamic {
    font-size: max(calc(0.5rem + 2vw), 1rem);
  }
}

.shard-container {
  width: 100%;
  height: 100%;
  margin: 0;
}

.shard-slide {
  margin: 0;
  padding: 0;
}

.shard-tag {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 30% auto 40%;
}

.shard-tag-empty {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.shard-location {
  margin: max(15px, calc(15px + 1vw)) 0 0 0
}

.shard-location-prefix {
  display: inline-block;
  text-align: center;
  font-size: 1.2em;
  width: 100%;
  margin: 0;
}

.shard-location-alias {
  display: inline-block;
  text-align: center;
  font-size: 0.5em;
  width: 100%;
  margin: 0;
  position: relative;
  top: 2px;
}

.shard-location-disp {
  display: inline-block;
  text-align: center;
  font-size: 2em;
  width: 100%;
  margin: 0;
  font-weight: bold;
}

.shard-gain {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 0.8em;
}

.shard-split {
  display: inline-block;
  width: 100%;
  border-width: 0 0 1px 0;
  border-color: rgba(192, 192, 192, .5);
  border-style: solid;
}

.shard-timeline {
  display: inline-block;
  text-align: center;
}

.shard-time-disp {
  display: inline-block;
  margin: 0;
  overflow-x: visible;
  width: 500px;
}

.shard-countdown {
  margin-top: auto;
  width: 100%;
  height: 100px;
}

.shard-timeline-line {
  display: inline-block;
  width: 90%;
  height: 2px;
  margin: 10px 0;
  background-color: rgba(192, 192, 192, .5);
  overflow: visible;
}

.shard-timeline-cursor {
  box-sizing: content-box;
  border-top: 10px solid;
  border-bottom: 10px solid;
  border-left: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  width: 0;
  height: 2px;
  position: relative;
  top: -10px;
  left: calc(0% - 10px);
}

.shard-timeline-segment {
  background-color: red;
  height: 100%;
  width: 3.61%;
  position: relative;
  top: -22px;
  left: 20%;
}

.footer {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(95, 120, 128, .2);
  border-width: 2px 0 0 0;
  border-color: rgba(192, 192, 192, .2);
  border-style: solid;
  padding: 8px;
}

#sky-gametime-disp {
  text-align: center;
  font-size: 1.2em;
  padding: 2px 0 2px 0;
}